@CHARSET "UTF-8";
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
#container{
   height:100vh;
   backgroud-size:cover;
   background-position:center;
}
#container:after{
  position:absolute;
  content:'';
  top:0;
  left:0;
  height:110%;
  width:100%;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    zoom: 1;
}
ul li {
    list-style: none;
}
input{
    width: 296px;
    height: 40px;
    border:1px solid #057082;
    border-radius:8px;
    font-size: 20px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
}

.bot{
    float: left;
    width: 100%;
    height:96px;
    background-color: #057082;
    font-size: 12px;
    color: white;
}
.btn{
    border:1px solid #057082;
    color:#057082;
}
.btn:hover{
    color: white;
    background: #057082;
    border:1px solid white;
}
.btnCheck{
    color: rgb(5, 112, 130);
    background: rgb(177, 209, 206);
    border:1px solid  #057082;
}
.redBtn{
    color:rgb(224, 125, 105);
    border:1px solid rgb(224, 125, 105)
}
.redBtn:hover{
    background:rgb(224, 125, 105) ;
    color: white;
}
.greyBtn{
    color:gray;
    border:1px solid gray
}
.greyBtn:hover{
    background:gray ;
    color: white;
}
.circleBtn{
    background: white;
    color: #057082;
    height: 40px;
    width: 40px;
    border:1px solid #057082;
    border-radius: 40px;
}
.circleBtn:hover{
    color: white;
    background: #057082;
    border:1px solid white;
}
input[name="time"]:before{
    color:#A9A9A9;content:attr(placeholder);
}
input[name="time"].full:before {
    color:black;content:""!important;
}
input[name="time"]{
    border:1px solid rgb(177, 209, 206);
    height: 32px;
    width: 88%;
    font-size: 15px;
    margin-left: 8%;
}